.text1
	{
	font-size: 12pt;font-family: "Arial";
	}
TH
	{
	border-top-style: dotted;
	border-bottom-style: dotted; 
	border-right-style: dotted;
	border-left-style: dotted;

	border-top-color: #000080;
	border-bottom-color: #000080; 
	border-right-color: #000080;
	border-left-color: #000080;	
	background-image: none;
	}
BODY
	{
	background-attachment: fixed;
	}
H1
	{
	background-color: #d8d2d2
	}
H2
	{
	background-color: #d8d2d2
	}
I
	{
	font-size: 10pt
	}
TABLE
	{
	width: 77%
	}

/*------------------------------------*\
				НАВИГАЦИЯ
\*------------------------------------*/
		#nav{
			position: fixed;
			float: left;
			width:100%;
			list-style:none;
			font-weight:bold;
			margin-bottom:10px;
			right: 1px;
			top: 5px;
		}
		#nav li{
			float:left;
			margin-right:10px;
			position:relative;
			display:block;
		}
		#nav li a{
			display:block;
			padding:5px;
			color:#fff;
			background:#333;
			text-decoration:none;
			
			text-shadow:1px 1px 1px rgba(0,0,0,0.75); /* Тень текста, чтобы приподнять его на немного */
			-moz-border-radius:2px;
			-webkit-border-radius:2px;
			border-radius:2px;
		}
		#nav li a:hover{
			color:#fff;
			background:#330006;
			background:rgba(107,12,54,0.75); /* Выглядит полупрозрачным */
			text-decoration:underline;
		}

		/*--- ВЫПАДАЮЩИЕ ПУНКТЫ ---*/
		#nav ul{
			list-style:none;
			position:absolute;
			left:-9999px; /* Скрываем за экраном, когда не нужно (данный метод лучше, чем display:none;) */
			opacity:0; /* Устанавливаем начальное состояние прозрачности */
			-webkit-transition:0.25s linear opacity; /* В Webkit выпадающие пункты будут проявляться */
		}
		#nav ul li{
			padding-top:1px; /* Вводим отступ между li чтобы создать иллюзию разделенных пунктов меню */
			float:none;
			background:url(dot.gif);
		}
		#nav ul a{
			white-space:nowrap; /* Останавливаем перенос текста и создаем многострочный выпадающий пункт */
			display:block;
		}
		#nav li:hover ul{ /* Выводим выпадающий пункт при наведении курсора */
			left:0; /* Приносим его обратно на экран, когда нужно */
			opacity:1; /* Делаем непрозрачным */
		}
		#nav li:hover a{ /* Устанавливаем стили для верхнего уровня, когда выводится выпадающий список */
			background:#030006;
			background:rgba(107,12,54,0.75); /* Выглядит полупрозрачным */
			text-decoration:underline;
		}
		#nav li:hover ul a{ /* Изменяем некоторые стили верхнего уровня при выводе выпадающего пункта */
			text-decoration:none;
			-webkit-transition:-webkit-transform 0.075s linear;
		}
		#nav li:hover ul li a:hover{ /* Устанавливаем стили для выпадающих пунктов, когда курсор наводится на конкретный пункт */
			background:#333;
			background:rgba(51,51,51,0.75); /* Будет полупрозрачным */
			text-decoration:underline;
			-moz-transform:scale(1.05);
			-webkit-transform:scale(1.05);
		}
		#nav ul{
			list-style:none;
			position:absolute;
			left:-9999px; /* Скрываем за экраном, когда не нужно (данный метод, лучше чем display:none;) */
			opacity:0; /* Устанавливаем начальное состояние прозрачности */
			-webkit-transition:0.25s linear opacity; /* В Webkit выпадающие пункты будут проявляться */
		}
		#nav ul li{
			padding-top:1px; /* Вводим отступ между li чтобы создать иллюзию разделенных пунктов меню */
			float:none;
			background:url(dot.gif);
		}
		#nav ul a{
			white-space:nowrap; /* Останавливаем перенос текста и создаем многострочный выпадающий пункт */
			display:block;
		}
		#nav li:hover ul{ /* Выводим выпадающий пункт при наведении курсора */
			left:0; /* Приносим его обратно на экран, когда нужно */
			opacity:1; /* Делаем непрозрачным */
		}
		#nav li:hover a{ /* Устанавливаем стили для верхнего уровня, когда выводится выпадающий список */
			background:#030006;
			background:rgba(107,12,54,0.75); /* Выглядит полупрозрачным */
			text-decoration:underline;
		}
		#nav li:hover ul a{ /* Изменяем некоторые стили верхнего уровня при выводе выпадающего пункта */
			text-decoration:none;
			-webkit-transition:-webkit-transform 0.075s linear;
		}
		#nav li:hover ul li a:hover{ /* Устанавливаем стили для выпадающих пунктов, когда курсор наводится на конкретный пункт */
			background:#333;
			background:rgba(51,51,51,0.75); /* Будет полупрозрачным */
			text-decoration:underline;
			-moz-transform:scale(1.05);
			-webkit-transform:scale(1.05);
		}